body {
  color: #444;
  font-family: monospace;
  font-size: 10vh;
  text-align: center;
}

main {
  margin: 10vh auto;
  width: 80vw;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

td {
  cursor: default;
  height: 20vh;
  vertical-align: middle;
  width: 20vh;
}

td.empty {
  cursor: pointer;
}

td.empty:hover,
td.empty:focus {
  background: lightblue;
  outline: none;
}

td + td {
  border-left: 3px solid #444;
}

tr + tr td {
  border-top: 3px solid #444;
}

td.win {
  background: lightgreen;
}

h1 {
  font-size: 3rem;
  margin: 2rem 0 0;
}

button {
  background: none;
  border: 3px solid #444;
  color: #444;
  cursor: pointer;
  font-family: monospace;
  font-size: 2rem;
  padding: 0.5rem 2rem;
}

button:hover,
button:focus {
  color: lightblue;
  border-color: lightblue;
  outline: none;
}
    
